@import "tailwindcss";

@theme {
  --color-brand-light: #86EFAC;
  --color-brand-medium: #22C55E;
  --color-brand-dark-gray: #1F2937;
  --color-brand-deep-green: #064E3B;
  --color-brand-accent-green: #10B981;
}

:root {
  --background: #FFFFFF;
  --foreground: #1F2937;
  --accent: #86EFAC;
  --primary: #22C55E;
}

.dark {
  --background: #1F2937;
  --foreground: #FFFFFF;
  --accent: #10B981;
  --primary: #064E3B;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-hero-fixed {
  background-image: url('/holland-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
}


@layer utilities {
  .glass {
    @apply bg-white/20 backdrop-blur-md border border-white/30;
  }
}